<!-- BEGIN: Horizontal Menu -->
<!-- <div mMenuHorOffcanvas id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark "> -->
<div class="{{ui.getTopBarMenuClass()}}" id="m_header_menu" #m_header_menu>
    <ul class="m-menu__nav m-menu__nav--submenu-arrow">
        <ng-container *ngFor="let item of menu.items">
            <ng-container *ngIf="item.name" [ngTemplateOutlet]="m_menu" [ngTemplateOutletContext]="{ item: item }">
            </ng-container>
        </ng-container>
    </ul>
</div>
<!-- </div> -->
<!-- END: Horizontal Menu -->


<ng-template #m_menu let-item="item" let-parentItem="parentItem">
    <li attr.aria-haspopup="true"
        [attr.m-menu-submenu-toggle]="getItemAttrSubmenuToggle(item)"
        class="{{ getItemCssClasses(item) }}"
        *ngIf="showMenuItem(item)"
        routerLinkActive="m-menu__item--active">

        <!-- if item has submenu -->
        <ng-container *ngIf="item.items.length">
            <a href="javascript:;" [ngClass]="{ 'm-menu__toggle': !parentItem }" class="m-menu__link">

                <ng-container [ngTemplateOutlet]="m_menu_item_inner" [ngTemplateOutletContext]="{ item: item, parentItem: parentItem }"></ng-container>

                <!-- arrow icons -->
                <i *ngIf="item.items.length && !parentItem" class="m-menu__hor-arrow la la-angle-down"></i>
                <i *ngIf="item.items.length && !parentItem" class="m-menu__ver-arrow la la-angle-right"></i>
                <!-- else arrow icons -->
                <i *ngIf="item.items.length && parentItem" class="m-menu__hor-arrow la la-angle-right"></i>
                <i *ngIf="item.items.length && parentItem" class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
        </ng-container>

        <!-- if item hasn't sumbenu -->
        <ng-container *ngIf="!item.items.length">
            <a *ngIf="!item.external" [routerLink]="item.route" [queryParams]="item.parameters" [ngClass]="{ 'm-menu__toggle': !parentItem }" class="m-menu__link">
                <ng-container [ngTemplateOutlet]="m_menu_item_inner" [ngTemplateOutletContext]="{ item: item, parentItem: parentItem }"></ng-container>
            </a>
            <a *ngIf="item.external" [attr.href]="[item.route]" target="_blank" class="m-menu__link">
                <ng-container [ngTemplateOutlet]="m_menu_item_inner" [ngTemplateOutletContext]="{ item: item, parentItem: parentItem }"></ng-container>
            </a>
        </ng-container>

        <!-- if menu item has submenu child then recursively call new menu item component -->
        <ng-container *ngIf="item.items.length">
            <div class="m-menu__submenu">
                <span class="m-menu__arrow" [ngClass]="{ 'm-menu__arrow--adjust': !parentItem }"></span>
                <ul *ngIf="item.items.length" class="m-menu__subnav">
                    <ng-container *ngFor="let child of item.items">

                        <ng-container [ngTemplateOutlet]="m_menu" [ngTemplateOutletContext]="{ item: child, parentItem: item }">
                        </ng-container>

                    </ng-container>
                </ul>
            </div>
        </ng-container>
    </li>
</ng-template>

<!-- item inner -->
<ng-template #m_menu_item_inner let-item="item" let-parentItem="parentItem">
    <!-- if menu item has icon -->
    <i *ngIf="item.icon" class="m-menu__link-icon" [ngClass]="item.icon"></i>

    <ng-container>
        <span class="m-menu__item-here"></span>
        <!-- menu item title text -->
        <span class="m-menu__link-text">
            {{l(item.name)}}
        </span>
    </ng-container>
</ng-template>

<!-- item column -->
<ng-template #m_menu_column let-item="item">
    <li class="m-menu__item">
        <!-- <li class="m-menu__item"> -->
        <h3 class="m-menu__heading m-menu__toggle">
            <span class="m-menu__link-text">
                {{item.heading.title}}
            </span>
            <i class="m-menu__ver-arrow la la-angle-right"></i>
        </h3>
        <ng-container *ngIf="item.items">
            <ul class="m-menu__inner">
                <ng-container *ngFor="let child of item.items">
                    <ng-container [ngTemplateOutlet]="m_menu" [ngTemplateOutletContext]="{ item: child, parentItem: item }">
                    </ng-container>
                </ng-container>
            </ul>
        </ng-container>
        <!-- </li> -->
    </li>
</ng-template>
